<h4>Post details:</h4>
<p style="font-style: oblique">
<%= @result['content'] %>
</p>
<p style="font-weight: bold; color: #064E73;">
Author: <%= @result['author'] %>
</p>
<p style="font-style: italic; display: block; width: 190px; border-top: 1px solid black; font-size: 0.9em; color: #9C9FA0; padding-top: 7px; ">
Added at: <%= @result['created_date'] %>
</p>
<hr>
<h4>Comments:</h4>

<% @comments.each do |comment| %>
<p style="font-style: oblique;">
<%= comment['content'] %>
</p>
<p style="font-style: italic; display: block; width: 160px; border-top: 1px solid black; font-size: 0.8em; color: #9C9FA0; padding-top: 5px; ">
Added at: <%= comment['created_date'] %>
</p>
<hr>

<% end %>

<form action="/post/<%= @result['id'] %>" method="POST">
<div class="form-group">
	<textarea style="width: 500px;" name="comment" class="form-control" rows="3" placeholder="Type comment text here"></textarea>
</div>

	<button type="submit" class="btn btn-primary">Add comment</button>
</form>